---
	import Card from '../components/Card';
	const generalBackendUrl = '/converter';
	const exchangeBackendUrl = '/monedas';
	// const generalBackendUrl = 'http://localhost:3000/converter';
	// const exchangeBackendUrl = 'http://localhost:3000/monedas';
	const cards = {
		length: {
			title: 'Length',
			url: generalBackendUrl+'/length',
		},
		exchange: {
			title: 'Exchange',
			url: exchangeBackendUrl,
		},
		speed: {
			title: 'Speed',
			url: generalBackendUrl+'/speed',
		},
		time: {
			title: 'Time',
			url: generalBackendUrl+'/time',
		},
	};
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/styles/global.css">
		<title>Unit convert</title>
	</head>
	<body>
		<div class="bg_Top"></div>
		<main class="container">
			<header class="head">
				<h1>Unit Converter</h1>
			</header>
			<section class="row row-cols-1 row-cols-lg-2">

				<div class="col">
					<Card cssClass={""} cardData={cards.length} client:only></Card>
				</div>

				<div class="col">
					<Card cssClass={""} cardData={cards.exchange} client:only></Card>
				</div>

				<div class="col">
					<Card cssClass={""} cardData={cards.speed} client:only></Card>
				</div>

				<div class="col">
					<Card cssClass={""} cardData={cards.time} client:only></Card>
				</div>

			</section>
		</main>
	</body>
</html>
